apiVersion: batch/v1
kind: CronJob
metadata:
  name: twssg-rebuild
  namespace: apps
spec:
  schedule: "*/20 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 1
      activeDeadlineSeconds: 120
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: trigger
              image: curlimages/curl:latest
              command:
                - curl
                - -sf
                - -X
                - POST
                - http://twssg.apps.svc.cluster.local:9091/rebuild
              resources:
                limits:
                  memory: 32Mi
                requests:
                  memory: 16Mi
